<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-ocrsearchable" version="1.0.0">
   
   <name>OCRSearchable</name>

   <js-module name="OCRSearchable" src="www/OCRSearchable.js">
      <clobbers target="OCRSearchable" />
   </js-module>

   <platform name="android">
      <config-file parent="/*" target="res/xml/config.xml">
         <feature name="OCRSearchable">
            <param name="android-package" value="cordova.plugin.ocrsearchable.OCRSearchable" />
         </feature>
      </config-file>
      <config-file parent="/*" target="AndroidManifest.xml" />
      <source-file src="src/android/OCRSearchable.java" target-dir="src/cordova/plugin/ocrsearchable/OCRSearchable" />
   </platform>

</plugin>